{% extends "base.html" %}
{% block title %}Group Details{% endblock %}
{% block head %}
{{ super() }}
<style>
    body {
        min-height: 75rem;
        padding-top: 4.5rem;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Include Moment.js and its adapter -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.min.js"></script>
{% endblock %}
{% block content %}
<h1>{{ group.name }}</h1>
<div class="row">
    <div class="col-md-2 fw-bold">ID:</div>
    <div class="col">{{ group.id }}</div>
</div>

<h3>Associated Nodes</h3>
<ul>
    {% for node in nodes %}
    <li>{{ node.name }} (ID: {{ node.id }})</li>
    {% endfor %}
</ul>

<h4 class="mt-5">Temperature Data From Nodes</h4>
<canvas id="tempDataChart" width="400" height="200"></canvas>

<!-- JavaScript to Render the Chart -->
<script>
      var groupData = '{{ group_data|tojson|safe }}'; // group_data should contain node-specific temperature data
      var groupData = JSON.parse(groupData);

      var datasets = groupData.map(function(nodeData) {
          var formattedData = nodeData.temps.map(function(data) {
              return {
                  x: moment(data.time).toDate(),
                  y: data.temp
              };
          });

          formattedData.sort(function(a, b) {
              return new Date(a.x) - new Date(b.x);
          });

          return {
              label: `Node ${nodeData.nodeId} Temperature (°C)`,
              data: formattedData,
              fill: false,
              borderColor: getRandomRgbColor(),
              tension: 0.1
          };
      });

      var ctx = document.getElementById('tempDataChart').getContext('2d');
      var tempDataChart = new Chart(ctx, {
          type: 'line',
          data: {
              datasets: datasets
          },
          options: {
              scales: {
                  x: {
                      type: 'time',
                      time: {
                          unit: 'day'
                      }
                  }
              },
              responsive: true,
              maintainAspectRatio: true
          }
      });

      function getRandomRgbColor() {
          var r = Math.floor(Math.random() * 256);
          var g = Math.floor(Math.random() * 256);
          var b = Math.floor(Math.random() * 256);
          return `rgb(${r}, ${g}, ${b})`;
      }
</script>
<!-- Rest of your code... -->
{% endblock %}