{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
      <h1>Groups</h1>

      {% if True %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Node Count</th>
                      <th class="text-end">Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% for group in groups %}
                  <tr>
                      <td>{{ group.name }}</td>
                      <td>{{ group_node_counts[group.id] }}</td>
                      <td class="text-end">
                          <a href="{{ url_for('group_details', id=group.id) }}" class="btn btn-sm btn-primary">Details</a>
                          <form action="{{ url_for('delete_group', id=group.id) }}" method="post" style="display: inline-block;">
                              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                          </form>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No restaurants exist.  Select Add new restaurant to add one.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('create_group') }}" class="btn btn-success px-4 gap-3">Create Group</a>
      </div>


      <hr> <!-- Horizontal line to separate groups and nodes -->

      <h2>Nodes</h2>

      {% if True %}
          <table id="myTable" class="table">
              <thead>
                  <tr>
                      <th onclick="sortTable(0, 'number')">ID</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Associated Group</th>
                      <th class="text-end">Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% for node in nodes %}
                  <tr>
                      <td>{{ node.id }}</td>
                      <td>{{ node.name }}</td>
                      <td>{{ node.location }}</td>
                      <td>
                          {% if node.group %}
                          {{ node.group.name }}
                          {% else %}
                          No group
                          {% endif %}
                      </td>
                      <td class="text-end">
                          <a href="{{ url_for('node_details', id=node.id) }}" class="btn btn-sm btn-secondary">Details</a>
                          <form action="{{ url_for('delete_node', id=node.id) }}" method="post" style="display: inline-block;">
                              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                          </form>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No nodes exist.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
        <a href="{{ url_for('create_mock_node') }}" class="btn btn-success px-4 gap-3">Add new mock node</a>
      </div>
      
      <script src="{{ url_for('static', filename='sort-table.js') }}"></script>     
{% endblock %}