{% extends "base.html" %}
{% block title %}Node Details{% endblock %}
{% block head %}
{{ super() }}
<style>
    body {
        min-height: 75rem;
        padding-top: 4.5rem;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Include Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Include Chart.js Adapter for Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.0/chartjs-adapter-moment.min.js"></script>

{% endblock %}
{% block content %}
<h1>{{ node.name }}</h1>
<div class="row">
    <div class="col-md-2 fw-bold">ID:</div>
    <div class="col">{{ node.id }}</div>
</div>
<div class="row">
    <div class="col-md-2 fw-bold">Active:</div>
    <div class="col">{{ node.active }}</div>
</div>
<div class="row">
    <div class="col-md-2 fw-bold">Sleep Time:</div>
    <div class="col">{{ node.sleeptime }}</div>
</div>
<div class="row">
    <div class="col-md-2 fw-bold">Interval Time:</div>
    <div class="col">{{ node.interval_time }}</div>
</div>
<div class="row">
    <div class="col-md-2 fw-bold">Group:</div>
    <div class="col">{{ node.group.name if node.group else "No Group" }}</div>
</div>

<h4 class="mt-5">Temperature Data</h4>
<canvas id="tempDataChart" width="400" height="200"></canvas>

<!-- JavaScript to Render the Chart -->
<script>
      var tempDataString = '{{ temp_data|tojson|safe }}';
      var tempData = JSON.parse(tempDataString);
</script>
<script>
    var formattedData = tempData.map(function (data) {
        return {
            x: moment(data.time).toDate(),  // x is the time
            y: data.temp   // y is the temperature
        };
    });

    formattedData.sort(function (a, b) {
        return new Date(a.x) - new Date(b.x);  // Sorts the array in ascending order of date
    });

    function getRandomRgbColor() {
        var r = Math.floor(Math.random() * 256); // Random between 0-255
        var g = Math.floor(Math.random() * 256); // Random between 0-255
        var b = Math.floor(Math.random() * 256); // Random between 0-255
        return `rgb(${r}, ${g}, ${b})`; // Collect all to a rgb string
    }

    var ctx = document.getElementById('tempDataChart').getContext('2d');
    var tempDataChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Temperature (°C)',
                data: formattedData,
                fill: false,
                borderColor: getRandomRgbColor(),
                backgroundColor: 'rgba(0, 0, 0, 0.75)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    },
                    bounds: 'data'  // Adjust as needed
                },
                y: {
                    beginAtZero: false,  // Start the y-axis from the lowest value of the data
                    suggestedMax: 50    // Suggested maximum value for y-axis
                }
            },
            responsive: true,
            maintainAspectRatio: true
        }
    });
</script>

<!-- Rest of your code... -->
{% endblock %}